@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Primary */
  --clr-primary-purple-600: hsl(246, 80%, 60%);

  --clr-work-orange-300: hsl(15, 100%, 70%);
  --clr-play-blue-300: hsl(195, 74%, 62%);
  --clr-study-pink-400: hsl(348, 100%, 68%);
  --clr-exercise-green-400: hsl(145, 58%, 55%);
  --clr-social-purple-700: hsl(264, 64%, 52%);
  --clr-selfcare-yellow-300: hsl(43, 84%, 65%);
  
  --clr-error-background: hsl(0, 100%, 95%);
  --clr-error-border: hsl(0, 100%, 80%);
  --clr-error-color: hsl(0, 100%, 60%);

  /* Neutral */
  --clr-navy-950: hsl(226, 43%, 10%);
  --clr-navy-900: hsl(235, 46%, 20%);
  --clr-purple-500: hsl(235, 45%, 61%);
  --clr-navy-200: hsl(236, 100%, 87%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font family */
  --ff-primary: 'Rubik', Arial, Helvetica, sans-serif;

  /* Font sizes */
  --fs-xs: .9rem;              /* ~13px */
  --fs-sm: .875rem;            /* ~14px */
  --fs-base: 1.125rem;         /* ~18px */
  --fs-xl: 1.5rem;             /* ~24px */
  --fs-3xl: clamp(1.5rem, 1rem + 1.2vw, 2.5rem);            /* ~46px */
  --fs-2xl: clamp(2rem, 1rem + 2vw, 3.5rem);            /* ~32px */

  --font-size-h1: clamp(2.4rem, 1.8366rem + 1.5023vw, 4rem);

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Z-indexes */
  --z-index-top: 5;
  --z-index-middle: 3;
  --z-index-bottom: 1;

  --radius: 1rem;
}


@layer base {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
    }

    html {
      scroll-behavior: smooth;
    }

    img {
      display: block;
    }

    a {
      text-decoration: none;
      color: var(--clr-navy-200);
      font-weight: var(--fw-light);
      opacity: .6;

      &:hover, &:active, &.active {
        color: var(--clr-white);
        opacity: 1;
      }
    }

    body {
      background-color: var(--clr-navy-950);
      font-family: var(--ff-primary);
    }

    main {
      display: grid;
      min-height: 100vh;
      place-items: center;
      padding: 5rem 1.5rem;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    h1 {
      font-size: var(--fs-3xl);
    }

    h2 {
      font-size: var(--fs-2xl);
      font-weight: var(--fw-light);
      margin-block-end: .5rem;
    }
}


@layer helper {
  .error-message {
    color: var(--clr-error-color);
    background-color: var(--clr-error-background);
    padding: .75rem 1.5rem;
    border: 1px solid var(--clr-error-border);
    border-radius: .5rem;    
    max-width: 25rem;
    text-align: center;

    &.hidden {
      display: none;
    }
  }
}


@layer utilities {
  .report {
    display: grid;
    gap: 2rem;
    width: min(100%, 1100px);
    grid-template-rows: auto;
  }

  .report__card {
    background-color: var(--clr-navy-900);
    border-radius: var(--radius);
    color: var(--clr-white);
    
    &:not(.sidebar) {
      padding-block-start: 3rem;
      background-repeat: no-repeat;
      background-position: top -.5rem right 1rem;
      background-size: 60px;
      
      .report__card-content {
        background-color: var(--clr-navy-900);
        border-radius: var(--radius);
        padding-block: 2rem;
        padding-inline: 2rem;
        height: 101%;
        transition: 150ms ease-in-out;
        transition-property: background-color;

        &:hover, 
        &:active {
          background-color: color-mix(in srgb, var(--clr-navy-900), var(--clr-white) 10%);
          cursor: pointer;
        }
      }
      
      &.work {
        background-image: url(./images/icon-work.svg);
        background-color: var(--clr-work-orange-300);
      }

      &.play {
        background-image: url(./images/icon-play.svg);
        background-color: var(--clr-play-blue-300);
      }

      &.study {
        background-image: url(./images/icon-study.svg);
        background-color: var(--clr-study-pink-400);
      }

      &.exercise {
        background-image: url(./images/icon-exercise.svg);
        background-color: var(--clr-exercise-green-400);
        background-position: top right 1rem;
      }

      &.social {
        background-image: url(./images/icon-social.svg);
        background-color: var(--clr-social-purple-700);
        background-position: top right 1rem;
      }

      &.self-care {
        background-image: url(./images/icon-self-care.svg);
        background-color: var(--clr-selfcare-yellow-300);
      }
    }

    &.sidebar {
      grid-row: span 2;
    }
  }

  .sidebar__user {
    background-color: var(--clr-primary-purple-600);
    border-radius: var(--radius);
    padding-inline: 2rem;
  }

  .sidebar__user-img {
    border: 2px solid var(--clr-white);
    border-radius: 50%;
  }

  .sidebar__user-label {
    color: var(--clr-navy-200);
    font-size: var(--fs-sm);
  }

  .sidebar__user-name {
    font-weight: var(--fw-light);
  }

  .sidebar__calendar {
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }

  .report__card-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .report__card-title {
    font-size: var(--fs-base);
  }

  .report__card-action {
    > img {
      width: 1.125rem;
    }
  }

  .report__card-time {
    font-size: var(--fs-xs);
    color: var(--clr-navy-200);
  }
}

@layer responsive {
  @media (min-width: 53.75rem) {
    main {
      padding: 8.1rem 2.4rem;
    }

    h2 {
      margin-block-start: 1.5rem;
    }
    
    .report {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));;
    }

    .sidebar__user {
      padding-block: 2rem 5rem;
    }

    .sidebar__user-img {
      margin-block-end: 2.8rem;
    }

    .sidebar__calendar {
      display: grid;
      row-gap: 1.5rem;
    }
  }

  @media (max-width: 53.688rem) {
    h2 {
      margin-block-start: .5rem;
    }

    .sidebar__user {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      padding-block: 2rem;
    }

    .sidebar__calendar {
      display: flex;
      column-gap: 1.5rem;
      justify-content: space-evenly;
    }

    .sidebar__user-label {
      font-size: 1rem;
    }

    .sidebar__user-name {
      margin-block-start: .5rem;
    }

    .report__card-stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
